body{
  background-color: #fcc6d8e8;
  background-blend-mode: lighten;
}

.bg {
  position: absolute;
  background-image: url('./images/bg.png');
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}

.logo{
  text-align: center;
  margin: 20px 0 50px;
}
.container{ margin: 0 auto; text-align: center; }

tr {
  display: flex;
  justify-content: space-between;
}

td {
  width: 25%;
  height: 100%:
  margin: 0;
}

.table_container{
  border-radius: 10px;
  margin: 0 auto;
  display: inline-block;
  background-color: #e21683;
  text-align: center;
  justify-content: center;
  padding: 25px 20px;
}
.operator{
  font-size: 2em;
}

.num, .btn, .operator {
  font-size: 1.5em;
  width: 100%;
  background-color: white;
  border: none;
  color: #e21683;
  font-family: cursive;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: 0;
}

.num:hover, .btn:hover, .operator:hover {
  background: #fcc6d8e8;
  color: white;
}


#display{
  background-color: #fcc6d8e8;
  color: #e21683;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  height: 1.8em;
  padding: 0 10px;
  text-align: right;
  margin-bottom: 10px;
  border: none;
}
